<div class="row">
    <div class="column">
        <app-tableChart *ngIf="chartData" [data]="chartData" chartTitle="Level 1 Category"></app-tableChart>
        <app-tableChart *ngIf="chartData" [data]="chartData" chartTitle="Level 2 Category"></app-tableChart>
    </div>
    <div class="column">
        <app-tableChart *ngIf="chartData" [data]="chartData" chartTitle="Portfolio Companies"></app-tableChart>
        <app-tableChart *ngIf="chartData" [data]="chartData" chartTitle="Supplier List by Spend"></app-tableChart>
    </div>
</div> 


